#containerImagem {
  margin:0;
  padding:20px;
  /* IE10 Consumer Preview */ 
  background-image: -ms-radial-gradient(center, ellipse farthest-corner, #36FFC9 0%, #175052 100%);
  /* Mozilla Firefox */ 
  background-image: -moz-radial-gradient(center, ellipse farthest-corner, #36FFC9 0%, #175052 100%);
  /* Opera */ 
  background-image: -o-radial-gradient(center, ellipse farthest-corner, #36FFC9 0%, #175052 100%);
  /* Webkit (Safari/Chrome 10) */ 
  background-image: -webkit-gradient(radial, center center, 0, center center, 500, color-stop(0, #36FFC9), color-stop(1, #175052));
  /* Webkit (Chrome 11+) */ 
  background-image: -webkit-radial-gradient(center, ellipse farthest-corner, #36FFC9 0%, #175052 100%);
  /* W3C Markup, IE10 Release Preview */ 
  background-image: radial-gradient(ellipse farthest-corner at center, #36FFC9 0%, #175052 100%);
}

#main {
  margin:0 auto;
  padding:20px;
  width:960px;
  background: rgba(0,0,0,.8);
  border-radius:20px;
}

#photo {
  width:250px;
  height:250px;
  background: black;
  border:5px solid white;
  margin: 50px auto 120px;
  border-radius:50px;
  transition: all 2s;
  -moz-transition: all 2s; /* Firefox 4 */
  -webkit-transition: all 2s; /* Safari and Chrome */
  -o-transition: all 2s; /* Opera */
}

#pic {
  width:250px;
  height:250px;
  background: url('gabriel.png') center center;
  border-radius:50px;
  opacity:0.4;
  transition: all 2s;
  -moz-transition: all 2s; /* Firefox 4 */
  -webkit-transition: all 2s; /* Safari and Chrome */
  -o-transition: all 2s; /* Opera */
}

#text {
  padding:0;
  width:180px;
  margin:10px auto 0;
  font-size:20px;
  text-align:center;
  color:black;
  opacity:0;
  transition: opacity .2s;
  -moz-transition: opacity .2s; /* Firefox 4 */
  -webkit-transition: opacity .2s; /* Safari and Chrome */
  -o-transition: opacity .2s; /* Opera */
}

#photo:hover {
  margin:0 auto;
  width:250px;
  height:250px;
  border-radius:0;
  border-bottom-width:75px;
  transition: all 2s;
  -moz-transition: all 2s; /* Firefox 4 */
  -webkit-transition: all 2s; /* Safari and Chrome */
  -o-transition: all 2s; /* Opera */
}

#photo:hover > #pic {
  width:250px;
  height:250px;
  border-radius:0;
  opacity:1;
  transition: all 2s, opacity 2s ease-in;
  -moz-transition: all 2s, opacity 2s ease-in; /* Firefox 4 */
  -webkit-transition: all 2s, opacity 2s ease-in; /* Safari and Chrome */
  -o-transition: all 2s, opacity 2s ease-in; /* Opera */
}

#photo:hover > #text {
  opacity:1;
  transition: opacity .2s 1.8s;
  -moz-transition: opacity .2s 1.8s; /* Firefox 4 */
  -webkit-transition: opacity .2s 1.8s; /* Safari and Chrome */
  -o-transition: opacity .2s 1.8s; /* Opera */
}